@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$font-stack: "Montserrat", sans-serif;
$primary: #721817;
$secondary: #fa9f42;
$complementary1: #2b4162;
$complementary2: #0b6e4f;
$complementary3: #e0e0e2;
$white: #fff;
