@import "../../styles/_style.scss";
.header {
  background-color: $white;
  width: 100%;
  height: auto;
  display: flex;

  nav {
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @include allScreen;

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
        div {
          color: $primary;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 4px;
          text-shadow: -1px 2px 0 $secondary;
        }
      }
    }
  }
}
body {
  margin: 0;
  @include allScreen;
  font-family: $font-stack;
}
