@import "../../styles/_style.scss";

.home {
  @include allScreen;
}

.section-1 {
  width: 100%;
  height: 450px;
  img {
    @include allScreen;
    object-fit: contain;
    object-position: right;
  }
}
